@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

/*color*/
$font-color: #fff;
$font-alternative-color: #fff;

$background-color: #333;
$background-alternative-color: #374E44;

$hover-color: #ccb700;

/*borders*/
$border-light: 1px solid #000;


/*typography variables*/
$header-font: 'Roboto', sans-serif;
$main-font: 'Open Sans', sans-serif;
$base-line-height: 1.4; /*En multipel av textstorleken*/
$body-font-size: 1.1rem;
$heading-font-size: 2.1rem;
$margin-bottom: 1.54rem; /*1.4*1 $base-line-height*$base-font-size*/
$margin: 1.54rem auto;
$text-width: 45rem;



