@import "init.css";

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.main {
    flex: 1 0 auto;
    max-width: 80%;
    background-color: #fff;
    padding: 1%;
    margin: 0 auto;
}

.header, .footer {
    flex: 0 0 auto;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #666, #000);    
    
}

.site-header {
    display: flex;
    align-items: center; 
    
}

.site-header a {
    text-decoration: none;
    
}

/* Title */

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: #fff;  
    margin: 0;
}

.title p {
    font-style: italic;
}

.title h1:hover {
    color: rgb(225, 169, 225);;
}

.nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #fff;
    }

.nav li {
    background-color: rgb(151, 81, 151);
    border: 2px solid rgb(204, 0, 255);
    border-radius: 20%;
}


.nav li:hover {
    background-color: rgb(225, 169, 225);;
}

/* main */

p {
    /*radhöjd *textstorlek*/
    margin-bottom: 1.4rem;
    font-size: 1.1em;
}
/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 4px solid #444;
    background: linear-gradient(to bottom, #666, #000);
    color: #fff;
    padding: 1rem 6rem 4rem;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer li:hover, a:hover {
    color: rgb(225, 169, 225);;
}

.footer .social {
    font-size: 2rem;
    text-align: right;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50%;
}

.footer > .row {
    width: calc(100% /2);
}

.row h4 {
    border-bottom: 2px solid #fff;
}
/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.4;
    color: #444;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

img {
    max-width: 100%;
}

/* BELOW ARE PREPARED STYLES FOR CODE/PRE/BLOCKQUOTE, FEEL FREE TO REMOVE IT  */

/* Code */

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}

/* Blockquote */

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #f5f5f5;
}

/*kmom01*/
img.portfolio {
    display: block;  

    width: 10em;
    border: 4px solid black;
}

.logo img {
    display: block; 
     
    width: 75%;
    padding: 5%;
}

.header {
    border-bottom: 4px solid #444;
}

.social a {
    text-decoration: none;
}


/*testing*/

.first-box {
    box-sizing: content-box;
    background-color: black;
    height: 100px;
    width: 600px;
}

.second-box {
    box-sizing: content-box;
    background-color: blue;
    height: 100px;
    width: 100%;
}

.third-box {
    box-sizing: border-box;
    background-color: red;
    height: 100px;
    width: 50vw;
}

.fourth-box {
    box-sizing: border-box;
    background-color: green;
    height: 100px;
    width: 100vw;
}
