.landingpage {
    display: grid;
    gap: 1em 1em;
}

.wrapper {
    max-width: $text-width;
    margin: 0 auto;
    padding: 5%
   }

.landingpage h1 {
    grid-column: span 3;
    color: rgb(143, 94, 42);
}

.box {
    box-sizing: border-box;
    border:$border-heavy;
    height: auto;
    width: auto;
    text-align: center;
    padding: 5%
   
    
}