{% include 'incl/header.twig' %}

<body>

    {% include 'incl/nav.twig' %}

<a rel="float" class="float">Float</a>
<a rel="float-shadow" class=" float-shadow">Float Shadow</a>

    <div class="main" role="main">
        <div class="grid">
        
            <div class="content">
                {{ content }}
            </div>
        </div>
    </div>    
    
    {% include 'incl/footer.twig' %}
</body>

</html>
