{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}


    <div class="main" role="main">
        <div class="grid">
        
            <div class="content">
                {{ content }}
            </div>
        </div>
    </div>    
    
    {% include 'incl/footer.twig' %}
</body>

</html>
