.hidden {
    display: none !important;
}

html {
    /*Calculated by automatically adjusting the dimensions of padding + border + content to fit the given height and width*/
    box-sizing: border-box;
    height: 100%;
}

* {
    *::before, *::after {
        box-sizing: inherit;
    }
}

body {
    background-color: $background-color;
    overflow-y: scroll;
    height: 100%;
}

.main {
    margin: 0 auto;
    max-width: 80%;
    background-color: $background-alternative-color;
    padding: 1%;
    overflow: auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 100%;
    overflow: auto;
}

img {
    max-width: 100%;
}

ol, ul {
    padding-left: 1.5em;
}

p, td, th, li, dd {
    word-wrap: break-word; 
}